<h1>マイページ</h1>
<h3>姓</h3>
<p><%= @customer.last_name %></p>
<h3>名</h3>
<p><%= @customer.first_name %></p>
<h3>姓カナ</h3>
<p><%= @customer.last_name_kana %></p>
<h3>名カナ</h3>
<p><%= @customer.first_name_kana %></p>
<h3>メールアドレス</h3>
<p><%= @customer.email %></p>
<h3>郵便番号</h3>
<p><%= @customer.postal_code %></p>
<h3>住所</h3>
<p><%= @customer.address %></p>
<h3>電話番号</h3>
<p><%= @customer.telephone_number %></p>

<p><%= link_to "会員情報記入", edit_customer_path %></p> 