<h1>商品一覧</h1>
<% @items.each do |item| %>
 <P>商品名</P>
 <%= link_to item_path(item.id) do  %>
  <% if item.image.attached? %>
    <%= image_tag item.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
 <% end %><br>
 <span><%= item.name %></span>

 <p>商品説明</p>
 <span><%= item.introduction %></span>

 <p>税抜き価格</p>
 <span><%= item.price %></span>

 <P>販売ステータス</P>
 <span><%= item.is_active %></span>


<% end %>